.home-main-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.first-page-intro-wrapper {
  display: flex;
  flex-flow: column;
  color: #fff;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;

  h2 {
    font-size: 2.7em;
    font-family: 'Caveat Brush', sans-serif;
    text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
    margin: 0;
  }

  h3 {
    font-size: 130%;
    text-shadow: 1px 1px 1px #000, 1px 1px 3px #000;
  }
}

.spinner {
  width: 50px;
  height: 75px;
  text-align: #000;
  font-size: 10px;
  margin: 0;
}

.spinner > div {
  background-color: $font-color;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin: 2px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% { -webkit-transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1); }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.web-item {
  text-decoration: none;
  border-bottom: 2px solid $font-color;
}

.show-temp-item {
  font-size: 20px;
}

.social-icon {
  display: flex;
  justify-content: center;
  font-size: 1em;
  position: absolute;
  bottom: 10px;
}

.linked-in {
  color: $font-color;
  transition: all 0.15s ease-in;
}

.linked-in:hover {
  color: $accent-color;
  transition: all 0.15s ease-in;
  transform: scale(1.2);
}

.mail-to {
  color: $font-color;
  transition: all 0.15s ease-in;
}

.mail-to:hover {
  color: $accent-color;
  transition: all 0.15s ease-in;
  transform: scale(1.2);
}

.github-icon {
  color: $font-color;
  transition: all 0.15s ease-in;
}

.github-icon:hover {
  color: $accent-color;
  transition: all 0.15s ease-in;
  transform: scale(1.2);
}

/* Media queries */

@media screen and (max-width: 800px) {
  .first-page-intro-wrapper h2 {
    font-size: 180%;
  }

  .first-page-intro-wrapper h3 {
    font-size: 113%;
    margin: 10% 10%;
  }

  .show-temp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(97, 97, 97);
    text-shadow: 1px 1px 1px $font-black, 1px 1px 3px $font-black;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .show-temp {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(97, 97, 97);
    text-shadow: 1px 1px 1px $font-black, 1px 1px 3px $font-black;
    margin: 0;
  }
}
