@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
  background-image: url('../img/lights.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: Raleway, sans-serif;
}

